modules = ["web", "nodejs-20", "python-3.12"]
run = "python3 run_app.py"

[nix]
channel = "stable-24_05"
packages = ["bash", "gitFull", "glibcLocales", "playwright-driver"]

[deployment]
run = ["python3", "run_app.py"]
