# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Logs
*.log
*.out
*.err

# Database files
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env*.local

# macOS
.DS_Store